@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e8e8e8;

}

.content{
    position: relative;

}

.content h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 15em;
}

.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 3px #333;
    filter: blur(3px);
}

.content h2:nth-child(3)
{
    color: #fff6;
    filter: drop-shadow(0 15px 15px #fff);
    z-index: 1;
    text-shadow: -15px 15px 15px rgba(0,0,0,0.2),
    15px -15px 15px rgba(255,255,255,0.2);
}

.content h2:nth-child(2)
{
    color: #03a9f4;
    z-index: 2;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 51.90%, 2.00% 50.32%, 4.00% 48.71%, 6.00% 47.09%, 8.00% 45.50%, 10.00% 43.96%, 12.00% 42.50%, 14.00% 41.12%, 16.00% 39.87%, 18.00% 38.75%, 20.00% 37.79%, 22.00% 37.00%, 24.00% 36.39%, 26.00% 35.97%, 28.00% 35.75%, 30.00% 35.73%, 32.00% 35.92%, 34.00% 36.30%, 36.00% 36.88%, 38.00% 37.64%, 40.00% 38.58%, 42.00% 39.67%, 44.00% 40.91%, 46.00% 42.26%, 48.00% 43.71%, 50.00% 45.24%, 52.00% 46.83%, 54.00% 48.44%, 56.00% 50.05%, 58.00% 51.64%, 60.00% 53.18%, 62.00% 54.65%, 64.00% 56.02%, 66.00% 57.27%, 68.00% 58.39%, 70.00% 59.35%, 72.00% 60.15%, 74.00% 60.76%, 76.00% 61.17%, 78.00% 61.39%, 80.00% 61.41%, 82.00% 61.23%, 84.00% 60.84%, 86.00% 60.26%, 88.00% 59.50%, 90.00% 58.56%, 92.00% 57.47%, 94.00% 56.24%, 96.00% 54.88%, 98.00% 53.43%, 100.00% 51.90%);
    }
    50%{
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 48.57%, 2.00% 50.18%, 4.00% 51.77%, 6.00% 53.30%, 8.00% 54.77%, 10.00% 56.13%, 12.00% 57.37%, 14.00% 58.48%, 16.00% 59.43%, 18.00% 60.20%, 20.00% 60.80%, 22.00% 61.20%, 24.00% 61.40%, 26.00% 61.40%, 28.00% 61.20%, 30.00% 60.80%, 32.00% 60.20%, 34.00% 59.43%, 36.00% 58.48%, 38.00% 57.37%, 40.00% 56.13%, 42.00% 54.77%, 44.00% 53.30%, 46.00% 51.77%, 48.00% 50.18%, 50.00% 48.57%, 52.00% 46.96%, 54.00% 45.37%, 56.00% 43.84%, 58.00% 42.38%, 60.00% 41.01%, 62.00% 39.77%, 64.00% 38.66%, 66.00% 37.72%, 68.00% 36.94%, 70.00% 36.34%, 72.00% 35.94%, 74.00% 35.74%, 76.00% 35.74%, 78.00% 35.94%, 80.00% 36.34%, 82.00% 36.94%, 84.00% 37.72%, 86.00% 38.66%, 88.00% 39.77%, 90.00% 41.01%, 92.00% 42.38%, 94.00% 43.84%, 96.00% 45.37%, 98.00% 46.96%, 100.00% 48.57%);
    }

}